api-definitions/src/main/resources/xsd/ihk-level1.xsd

<xs:schema xmlns="https://apidocs.pruefung.io/xsd/ihk-level1.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ihkcommon="https://apidocs.pruefung.io/xsd/ihk-common.xsd" targetNamespace="https://apidocs.pruefung.io/xsd/ihk-level1.xsd" elementFormDefault="qualified" id="ihkLevel1">

    <xs:import namespace="https://apidocs.pruefung.io/xsd/ihk-common.xsd" schemaLocation="ihk-common.xsd"/>

    <xs:element name="pmdata" type="pruefungsmanagerdataType">
        <xs:annotation>
            <xs:documentation>Dieser Typ repräsentiert die Datenstruktur für den Prüfungsmanager im IHK Level 1 Prüfungsformat.</xs:documentation>
        </xs:annotation>
    </xs:element>


    <xs:complexType name="pruefungsmanagerdataType">
        <xs:sequence>
            <xs:element name="metadata" type="metadataType">
                <xs:annotation>
                    <xs:documentation>Dieser Typ repräsentiert Metadaten für das IHK Level 1 Prüfungsformat.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="fragen" type="questionListType">
                <xs:annotation>
                    <xs:documentation>
Dieser Typ repräsentiert eine Liste von Fragen im IHK Level 1 Prüfungsformat.
Er enthält mehrere frage-Elemente.
                    </xs:documentation>
                </xs:annotation>

            </xs:element>
            <xs:element name="tags" type="ihkcommon:tagsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
Dieser Typ repräsentiert eine Sammlung von Tags, die für die Kategorisierung oder
Identifikation von Inhalten im IHK Level 1 Prüfungsformat verwendet werden können.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:sequence>
                <xs:annotation>
                    <xs:documentation>Hier können weitere Inhalte bereitgestellt werden. Dies wird als IHK Level 2-Content bezeichnet und ist in der Regel anwendungsspezifisch.</xs:documentation>
                </xs:annotation>
                <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="metadataType">
        <xs:sequence>
            <xs:element name="berufenummer" type="xs:string"/>
            <xs:element name="pruefungszeitpunkt">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[FSHW][0-9][0-9]"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="pruefungsbereich" type="xs:string"/>
            <xs:element name="erstellungseinrichtung" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="questionListType">
        <xs:sequence>
            <xs:element name="frage" type="questionType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
Dieser Typ repräsentiert eine Frage im IHK Level 1 Prüfungsformat.
Jede Frage hat eine ID, einen Titel und kann mehrere Interaktionstypen haben, um die Art der Frage zu beschreiben.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="questionType">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="titel" type="xs:string"/>
            <xs:element name="interactiontypes" type="ihkcommon:interactionType" maxOccurs="unbounded"/>
            <xs:element name="tags" type="ihkcommon:tagsType" minOccurs="0"/>

            <xs:sequence>
                <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>

</xs:schema>