api-definitions/src/main/resources/xsd/ihk-level2-executionrecords.xsd

<xs:schema xmlns="https://apidocs.pruefung.io/xsd/ihk-level2-executionrecord.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://apidocs.pruefung.io/xsd/ihk-level2-executionrecord.xsd" elementFormDefault="qualified" id="ihkLevel1">

    <xs:element name="answerlist" type="answerListType"/>

    <xs:complexType name="answerListType">
        <xs:annotation>
            <xs:documentation>
                This type represents a list of answers in the IHK Level 2 exam format.
                It contains multiple answer elements.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="questionid" type="xs:string"></xs:element>
            <xs:element name="participantid" type="xs:string"></xs:element>
            <xs:element name="participationid" type="xs:string"></xs:element>
            <xs:element name="gfinummer" type="xs:string"></xs:element>
            <xs:sequence>
                <xs:element name="answer" type="answerType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="answerType">
        <xs:annotation>
            <xs:documentation>
                This type represents a question in the IHK Level 1 exam format.
                Each question has an ID, a title, and can have multiple interaction types
                to describe the nature of the question.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="interactiontype" type="interactionType"/>
            <xs:element name="answertext" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Based on cmi.interaction.type of SCORM 2004 4th edition 
     and http://adlnet.gov/expapi/activities/cmi.interaction from xapi profile "SCORM profile" based on
          https://github.com/adlnet/xAPI-Spec/blob/master/xAPI-Data.md
    -->
    <xs:simpleType name="interactionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="true-false"/>
            <xs:enumeration value="choice"/>
            <xs:enumeration value="fill-in"/>
            <xs:enumeration value="matching"/>
            <xs:enumeration value="performance"/>
            <xs:enumeration value="sequencing"/>
            <xs:enumeration value="likert"/>
            <xs:enumeration value="numeric"/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>